.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.footer {
  padding: 15px;
  border-top: 1px solid var(--border-color);
  text-align: center;
  font-size: 13px;
  color: #70757a;
  position: fixed;
  bottom: 0;
  width: 100%;
}
