.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &__main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
  }
}
