.fakerItemDialog {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    align-items:center;
    justify-content: center;
    z-index: 999;
    padding: 16px;
  }

  &__content {
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
  }

  .card {
    display: flex;
  }
}
