.google-logo {
  font-size: 80px;
  margin-bottom: 25px;
  font-weight: 400;
}

.google-logo .g1 {
  color: var(--google-blue);
}
.google-logo .o1 {
  color: var(--google-red);
}
.google-logo .o2 {
  color: var(--google-yellow);
}
.google-logo .g2 {
  color: var(--google-blue);
}
.google-logo .l {
  color: var(--google-green);
}
.google-logo .e {
  color: var(--google-red);
}
