.header {
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);

  &__inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__brand {
    font-size: 16px;
    font-weight: normal;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  &__avatar {
    width: 35px;
    height: 35px;
    border-radius: 9999px;
  }
}
