.header {
  padding: 20px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);

  &__inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__brand {
    font-size: 16px;
    font-weight: normal;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  &__avatar {
    width: 35px;
    height: 35px;
    border-radius: 9999px;
  }

  &__logoSearch {
    display: flex;
    align-items: baseline;
    gap: 16px;
    width: 100%;

    .google {
      font-size: 24px;
      margin-bottom: 0;
      line-height: 1;
    }

    .search {
      width: 30%;

      &__input {
        width: 100%;
        padding: 5px;
        padding-left: 40px;
      }

      &__inputIcon {
        width: 18px;
        height: 18px;
      }

      &__closeIcon svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
