.footer {
  padding: 15px 25px;
  border-top: 1px solid var(--border-color);
  text-align: center;
  font-size: 13px;
  background-color: #f2f2f2;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
